# Node modules
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env
.env.example
.env.local
.env.*

# Hardhat build files
artifacts/
cache/
coverage/
coverage.json
typechain/
typechain-types/

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
